.infos{
    color: #0a0a0a;
}

.table th, .table td{
    border-bottom: 0px solid black !important;
}

.buttons2{
    background-color: #21242b;
    color: #626366;
    font-weight: bold;
}

.fundoForm{
    background-color: #1e2127;
}

.fundoForm2{
    background-color: #21242b;
}

.buttonCreate{
    color: #626366;
    font-weight: bold;
    width: 90px;
    height: 40px;
}



@media only screen and (min-width: 768px) {
    .desktop{
        display: show;
    }
    
    .mobile{
        display: none;
    }
 }

@media only screen and (max-width: 768px){

    .desktop{
        display: none;
    }

    .mobile{
        display: show;
    }
}