footer{
    font-size: 25px;
    font-weight: bold;
    background-color: #1c1f27;
    color: #4371c7;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #111418;
}

.dir{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}