footer{
    font-size: 25px;
    font-weight: bold;
    background-color: #1c1f27;
    color: #4371c7;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #111418;
    bottom: 0;
    width: 100%;
}

.dir p{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
}

.imgDir{
  height: 50px;
}

.imgDir img{
  height: 35px;
  width: 35px;
  margin-right: 1rem;
}

.imgDir img:hover{
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

a{
  text-align: center;
  font-size: 20px;
  color: #474747
}

a:hover{
  text-align: center;
  font-size: 20px;
  color: #0c0c0c
}

@media only screen and (max-width: 768px){
  .dir{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
  }  
} 