.App {
  text-align: center;
}

.header{
  font-size: 70px;
  background-color: #1c1f27;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  border: 2px solid #111418;
  color:#4b4b4b;
}

#root {
  background-color: #282c34;
  min-height: 100vh;
}

.textos{
  color: #666666;
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 20px;
}

.titulo{
  color: #4b4b4b;
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}


.info{
  color:#666666;
  font-size: 28px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-top: 0.8rem;
  border: 2px solid #111418;
  border-radius: 15px;
  margin: 1px;
}